<html lang="en">
<body>
    <main class="container">
        <h1 class="fw-300 text-center">About</h1>
        <div class="content-about">
            <div class="image">
                <img src="/assets/nosotros.jpg" alt="Hi Ed - About Not Working">
            </div>

            <div class="about-text">
                <blockquote>25 Years Working For You!</blockquote>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque eum odio deleniti at similique quas perspiciatis nostrum! Facilis nostrum ea blanditiis, quod reiciendis aliquam molestiae, quia amet maxime distinctio aspernatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit tempora quae magnam aliquid in odit labore sunt vitae reiciendis voluptas. Reprehenderit quisquam sit voluptatum harum repudiandae reiciendis rem quis exercitationem.
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt maxime perferendis vel itaque similique numquam fugiat praesentium, earum eum deleniti voluptatem, commodi sunt nemo, suscipit aperiam! Unde, omnis aliquid. Incidunt alias asperiores ipsa soluta. Excepturi qui impedit perspiciatis non? Alias voluptas modi ducimus tempora minus pariatur ab omnis nulla esse.</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit tempora quae magnam aliquid in odit labore sunt vitae reiciendis voluptas. Reprehenderit quisquam sit voluptatum harum repudiandae reiciendis rem quis exercitationem.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, natus sequi suscipit quaerat veniam ipsam dolorem id, quia magni ea aspernatur, soluta quam eligendi aliquid expedita. Dignissimos voluptate ullam culpa?</p>
            </div>
        </div>

        
    </main>

    <section>
        <main>
            <div class="container content-centered">     
            <h2>Our Clients Enjoy the Following Support Services:</h2>
    
            <div class="products-container">
            <div class="product">
                    <img src="/assets/Charter Square Building.jpg" alt="house 1">
                    <div class="product-content">
                            <h3>Corporate Headquarters</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nulla voluptatem quasi blanditiis, inventore accusantium velit exercitationem libero excepturi consectetur.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nulla voluptatem quasi blanditiis, inventore accusantium velit exercitationem libero excepturi consectetur.</p>
                    <p class="price">Available to All Members</p>
                            <a href="agents.html" class="button button-yellow">Get Started Today!</a>
                    </div>
            </div>
    
            <div class="product">
                <img src="/assets/staffing.png" alt="house 1">
                <div class="product-content">
                    <h3>24/7 Staffing</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nulla voluptatem quasi blanditiis, inventore accusantium velit exercitationem libero excepturi consectetur.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nulla voluptatem quasi blanditiis, inventore accusantium velit exercitationem libero excepturi consectetur.</p>
                    <p class="price">Available to All Members</p>
    
                    <a href="agents.html" class="button button-yellow">Get Started Today!</a>
                </div>
            </div>
    
            <div class="product">
                <img src="/assets/Building Lobby.jpg" alt="house 1">
                <div class="product-content">
                    <h3>Secure Entrance</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nulla voluptatem quasi blanditiis, inventore accusantium velit exercitationem libero excepturi consectetur.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nulla voluptatem quasi blanditiis, inventore accusantium velit exercitationem libero excepturi consectetur.</p>
                    <p class="price">Available to All Members</p>
                    <a href="agents.html" class="button button-yellow">Get Started Today!</a>
                </div>
            </div>
            </div>
            </div>
        </main>
    
    
       
    
        <section class="contact-img">
            <div class="content-contact container">
            <h2>We have the house of your dreams</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, sint. Expedita animi, voluptate dolorum harum autem, neque quam dolor rem iste facilis enim hic nemo?</p>
            <a href="contact.html" class="button button-yellow">Contact Us</a>
            </div>
        </section>
    
       

    </section>
    <div class="footer-style">
        <footer>
            <div class="footer-menu">
            <a href="home.html">Home</a>
            <a href="about.html">About Us</a>
            <a href="blog.html">Blog</a>
            <a href="contact.html">Contact</a> 
            </div>
            <p class="copyright">All the copyrights reserved 2020 &copy;</p>
        </footer>
    </div>
</body>
</html>