<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">TheEveryDayChef</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf="!shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/about">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active"*ngIf="!shared.isUserLoggedIn" >
          <a class="nav-link" routerLink="/howitworks">How It Works <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active"*ngIf="!shared.isUserLoggedIn" >
          <a class="nav-link" routerLink="/experience">Experience <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="!shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/user/register">Register <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="!shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"*ngIf="!shared.isUserLoggedIn" >
          <a class="nav-link" routerLink="/reviews">Reviews</a>
        </li>
        
        <li class="nav-item " *ngIf="shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/video-list">Get Started <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/bmi">BMI <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/converter">Meal Temperature</a>
        </li>
        
        <li class="nav-item " *ngIf="shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/menu">Menu <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/order">Order <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/todo">Instructions <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/review">Review <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/pay">Pay <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="shared.isUserLoggedIn">
          <a class="nav-link" routerLink="/survey">Survey <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item " *ngIf="shared.isUserLoggedIn ">
          <a class="nav-link" routerLink="/adminpage1">Admin: Menu Admin<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " *ngIf="shared.isUserLoggedIn" >
          <a class="nav-link" routerLink="/adminpage2">Admin: Survey Response <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item " *ngIf="shared.isUserLoggedIn" >
          <a class="nav-link" routerLink="/user/list">Admin: User List <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      <form *ngIf="!shared.isUserLoggedIn" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form *ngIf="shared.isUserLoggedIn" class="form-inline my-2 my-lg-0">
        <h4 >Welcome Back  </h4>
        
      </form>
    </div>
  </nav>