<p>pay works!</p>






<div class="navigation">
<button  (click)="back()" type="button" class="btn btn-primary">Back</button>
<button  (click)="next()" type="button" class="btn btn-primary spacing" >Next</button>
</div>


<section class="contact-img center">
    <div class="content-contact container">
     <div class="footstyle">
    <h2>Questions: Our specialists are standing by to answer you today</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, sint. Expedita animi, voluptate dolorum harum autem, neque quam dolor rem iste facilis enim hic nemo?</p>
    <a href="/contact" class="button button-yellow">Contact Us</a>
    </div>
    </div>
</section>