<html lang="en">
<body>
    
<h1 class="fw-300 text-center">Reviews</h1>

     <div class="content-about container">
            <div class="image">
                <img src="/assets/anuncio5.jpg" alt="Hi Ed - About Not Working">
            </div>

            <div class="about-text">
                <blockquote>25 Years Working For You!</blockquote>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque eum odio deleniti at similique quas perspiciatis nostrum! Facilis nostrum ea blanditiis, quod reiciendis aliquam molestiae, quia amet maxime distinctio aspernatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit tempora quae magnam aliquid in odit labore sunt vitae reiciendis voluptas. Reprehenderit quisquam sit voluptatum harum repudiandae reiciendis rem quis exercitationem.
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt maxime perferendis vel itaque similique numquam fugiat praesentium, earum eum deleniti voluptatem, commodi sunt nemo, suscipit aperiam! Unde, omnis aliquid. Incidunt alias asperiores ipsa soluta. Excepturi qui impedit perspiciatis non? Alias voluptas modi ducimus tempora minus pariatur ab omnis nulla esse.</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque eum odio deleniti at similique quas perspiciatis nostrum! Facilis nostrum ea blanditiis, quod reiciendis aliquam molestiae, quia amet maxime distinctio aspernatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit tempora quae magnam aliquid in odit labore sunt vitae reiciendis voluptas. Reprehenderit quisquam sit voluptatum harum repudiandae reiciendis rem quis exercitationem.
                </p>
            </div>
     </div>

<div class="container">
<h1 class="fw-300 text-center">Read Our Reviews</h1>
<div class="container bottom-section">
    <section class="blog">
        <h3 class="fw-300 text-center">Our Blog</h3>
        <article class="new-blog">
            <div class="blog-img">
                <img  src="/assets/blog1.jpg" alt="blog 1">
            </div>
            <div class="blog-txt">
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, deleniti!</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed unde dicta praesentium officia ipsum nulla fugiat excepturi dolorum, eaque, quis consectetur aliquam similique dolore eum magnam? Natus repellat laudantium corrupti.</p>
            </div>
        </article>
             
        
    </section>


    <section class="public-comments">
            <h3 class="text-center fw-300">Comments</h3>
            <div class="comment">
                <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, vitae.</blockquote>
                <p>-Efren Castillo</p>
                <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, vitae.</blockquote>
                <p>-John Smith</p>
            </div>
    </section>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo veniam rerum, repellendus magni neque autem ratione dignissimos impedit illum nulla maiores quia, quibusdam esse dolorum. Voluptatem inventore, illum exercitationem alias consequuntur doloremque impedit ducimus modi porro, distinctio, dolores sunt ipsum eaque mollitia nostrum ut ex laborum repudiandae rem nam. Reprehenderit fugit nemo corporis laudantium magni, sed esse natus aut. Ea natus sed maiores quidem cupiditate minima delectus veritatis necessitatibus soluta praesentium sit quos aliquam esse fugit, voluptas consequatur blanditiis at.</p>
<p> Repellendus soluta et reiciendis, molestias, veritatis fugiat sit vel nesciunt quo tempore perspiciatis cupiditate consectetur assumenda quos itaque laudantium deleniti dolore at asperiores maxime sint modi possimus voluptatum. Dolorem vel quas est excepturi necessitatibus harum minus, quibusdam nam consequuntur quis sapiente eaque voluptatem sint nobis nemo dolore totam deserunt magni a. Inventore numquam reiciendis libero nemo facere vitae dolorem nisi pariatur dolore repellat voluptatum veniam asperiores vero a dolorum assumenda, quo suscipit similique mollitia porro quibusdam iure. Assumenda, debitis ut? Quas accusantium eos itaque ut excepturi voluptatibus architecto, saepe magni nobis, odit tempore quam?</p>
<p> Cupiditate libero reiciendis voluptates quam deleniti nisi! Accusantium iure veritatis minus quod, officia assumenda neque, magnam vitae eligendi molestiae natus voluptatibus consequuntur cumque molestias quia nulla libero quam ipsum fugiat, fuga necessitatibus modi dolorum nihil ducimus. Esse, expedita quis repudiandae veritatis soluta explicabo nisi eius dignissimos ex rerum possimus necessitatibus labore culpa accusantium, fuga sit vitae impedit odit. Obcaecati, expedita asperiores voluptas nesciunt enim non modi? Voluptate ducimus repudiandae error eos iste, at eaque placeat.</p>

    <div class="container bottom-section">
    <div class="blog">
        <h3 class="fw-300 text-center">Hear From A Satisfied Client</h3>
        <div class="new-blog">
            <div class="media">
                <div class="media-item">
                <audio src="https:youtube.com/embed/QsZlY0Vz4-o" preload="auto" controls></audio>
                </div>
           </div>
        </div> 
    </div>    
  
  <section class="public-comments">
            <h3 class="text-center fw-300">Comments</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ratione animi soluta non tempore perferendis debitis quibusdam eaque. Hic non harum minus quibusdam, dicta explicabo veniam neque dolorem reiciendis et quidem, recusandae asperiores eligendi aliquam nulla culpa suscipit commodi incidunt corporis veritatis maxime ipsam quos fugit. Ad, inventore! Accusamus enim quaerat ipsam repudiandae reprehenderit, minima doloribus. Voluptatibus eaque ad praesentium pariatur enim corrupti labore provident adipisci placeat, reiciendis alias numquam inventore odit exercitationem earum saepe ex obcaecati neque error esse soluta molestiae nesciunt minima. Quia dolores facilis libero, eaque dolorum, minima nihil iste optio blanditiis, quisquam deserunt animi accusantium perferendis?</p>
                
                </section>
</div>                
</div>
</body>
</html>
