<html lang="en">
<body>
 

<main class="container">
    <h1 class="fw-300 text-center">How It Works</h1>
    <div class="content-about">
        <div class="image">
            <img src="/assets/staffing.png" alt="Hi Ed - About Not Working">
        </div>

        <div class="about-text">
            <blockquote>25 Years Working For You!</blockquote>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque eum odio deleniti at similique quas perspiciatis nostrum! Facilis nostrum ea blanditiis, quod reiciendis aliquam molestiae, quia amet maxime distinctio aspernatur?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit tempora quae magnam aliquid in odit labore sunt vitae reiciendis voluptas. Reprehenderit quisquam sit voluptatum harum repudiandae reiciendis rem quis exercitationem.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt maxime perferendis vel itaque similique numquam fugiat praesentium, earum eum deleniti voluptatem, commodi sunt nemo, suscipit aperiam! Unde, omnis aliquid. Incidunt alias asperiores ipsa soluta. Excepturi qui impedit perspiciatis non? Alias voluptas modi ducimus tempora minus pariatur ab omnis nulla esse.</p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque eum odio deleniti at similique quas perspiciatis nostrum! Facilis nostrum ea blanditiis, quod reiciendis aliquam molestiae, quia amet maxime distinctio aspernatur?
            </p>
 
            
        </div>
    </div>

    <h2>Contact Any of Our Worldwide Representatives Today:</h2>

    <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Middle Initial</th>
                    <th>Last Name</th>
                    <th>Country</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Fax Number</th>
                </thead>

                <tbody>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>A</td>
                    <td>Doe</td>
                    <td>United States</td>
                    <td>johndoe@realestate.com</td>
                    <td>555-555-5555</td>
                    <td>444-444-4444</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Sandie</td>
                    <td>M</td>
                    <td>Smith</td>
                    <td>United Kingdom</td>
                    <td>sandie@realestate.com</td>
                    <td>555-555-5555</td>
                    <td>444-444-4444</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Isabel</td>
                    <td>A</td>
                    <td>Johnson</td>
                    <td>Mexico</td>
                    <td>isabel@realestate.com</td>
                    <td>555-555-5555</td>
                    <td>444-444-4444</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Zach</td>
                    <td>B</td>
                    <td>Brown</td>
                    <td>France</td>
                    <td>zach@realestate.com</td>
                    <td>555-555-5555</td>
                    <td>444-444-4444</td>
                </tr>
                </tbody>
                <tfoot>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Middle Initial</th>
                    <th>Last Name</th>
                    <th>Country</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Fax Number</th>
                </tfoot>
            </table>


        
     

    </main>

  
 
    
</body>
</html>
