.mealpage{
    border: 1px;
}

.item{
    background-color: #dedee0;
    border: 1px solid #969697;
    padding: 10px;
    display: inline-block;
    width: 500px;
   
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 5px;
    text-align: center;
}