<h2>Current Meal Options</h2>
There are: {{ allMeal.length }} Custom Choices


<div *ngIf="allMeal.length < 1" class="alert alert-danger">
    <h6>Please create your meal on the Order Page</h6>
</div>





<div *ngIf="allMeal.length > 0" >
<div class="card item" style="width: 18rem;" *ngFor="let user of allMeal">
  <img class="card-img-top" src="{{user.picture}}" alt="Card image cap">
  <div class="card-body" >
    <h5 class="card-title">{{user.meatone}}</h5>
    <p class="card-text">Enjoy this meal prepared by one of our certiifed chefs. We recommend {{user.sideone}} with our delicious {{user.sidetwo}}. This is the perfect meal for one or a whole family. </p>
    <button  (click)="login()" type="submit" class="btn btn-primary btn-lg btn-block space">Select</button>
  </div>
</div>
</div>  

<div class="navigation">
<button  (click)="back()" type="button" class="btn btn-primary">Back</button>
<button  (click)="next()" type="button" class="btn btn-primary spacing" >Next</button>
</div>

<section class="contact-img center">
    <div class="content-contact container">
     <div class="footstyle">
    <h2>Questions: Our specialists are standing by to answer you today</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, sint. Expedita animi, voluptate dolorum harum autem, neque quam dolor rem iste facilis enim hic nemo?</p>
    <a href="/contact" class="button button-yellow">Contact Us</a>
    </div>
    </div>
</section>